<!DOCTYPE html>
<html>


<head>

    <script src="https://kit.fontawesome.com/21b22310c1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link href="~/Content/Css/bootstrap.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>*@
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
         
</head>
<body>

    @if ((Session["usuarioLogado"] != null) && (Session["empresaLogada"] != null))
    {
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" href="#">SISTEMA</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastros</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Alunos", "Index", new { controller = "Aluno" }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Usuários", "Index", new { controller = "Usuario" }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Matérias", "Index", new { controller = "Materia" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Alunos</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Controle", "Index", new { controller = "Aluno" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Financeiro</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Operacional", "Index", new { controller = "Financeiro" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><span class="fas fa-user"></span> @Session["usuarioLogado"] &nbsp;</li>
                    <li class="nav-item"><span class="fas fa-sign-out-alt"></span> @Html.ActionLink("Sair", "Sair", new { controller = "Login" }, new { @class = "dropdown" })</li>
                </ul>
            </div>
        </nav>
    }

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js" integrity="sha256-yE5LLp5HSQ/z+hJeCqkz9hdjNkk1jaiGG0tDCraumnA=" crossorigin="anonymous"></script>
    @RenderSection("Scripts", false)
</body>
</html>

