
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/jquery.maskmoney.js"></script>
    <link rel="stylesheet" href="~/Content/Css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Css/Site.css" />
</head>

<body>

    <nav class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">SISTEMA</a>
        <ul class="nav navbar-nav">
            @*<li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>*@
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastros <span class="caret"></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Alunos", "Index", "Aluno")</li>
                    <li>@Html.ActionLink("Usuários", "Index", "Usuario")</li>
                    <li>@Html.ActionLink("Matérias", "Cadastro", "Materia")</li>
                    </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Alunos <span class="caret"></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Controle", "Index", "Aluno")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Financeiro <span class="caret"></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Operacional", "Index", "Financeiro")</li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Logout    </a></li>
        </ul>

    </nav>
    <div class="container">
        <div id="body" role="alert">
            @Flash.FlashMessage(TempData)
            <div id="flash"></div>
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix"></section>
        </div>
        <div id="conteudo">
            @RenderBody()
        </div>

    </div>  
</body>
</html>
