@*@model IList<ControleRotasMvc.Models.Usuario>*@

<form action="/Usuario/Alterar" method="post">
    @*@Html.AntiForgeryToken()*@
    <label for="nome">Nome:</label>
    <input id="nome" name="usuario.UsuarioNome" value="@ViewBag.Usuario.UsuarioNome" class="form-control" />

    <label for="sobrenome">Sobrenome:</label>
    <input id="sobrenome" name="usuario.UsuarioSobrenome" value="@ViewBag.Usuario.UsuarioSobrenome" class="form-control" />

    <label for="email">E-mail:</label>
    <input id="email" name="usuario.UsuarioEmail" value="@ViewBag.Usuario.UsuarioEmail" class="form-control" />
    @Html.ValidationMessage("usuario.UsuarioLogin")
    @Html.ValidationMessage("usuario.LoginExistente")

    <label for="senha">Senha:</label>
    <input id="senha" name="usuario.UsuarioSenha" value="@ViewBag.Usuario.UsuarioSenha" class="form-control" />

    <label for="tipo">Tipo [0-Contrante  1-ADM  2-Responsável]</label>
    <input id="tipo" name="usuario.UsuarioTipo" value="@ViewBag.Usuario.UsuarioTipo" class="form-control">

    @*<td>@Html.ActionLink("Alterar", "Alterar", new { id = usuario.Id })</td>*@

    <input type="submit" value="Cadastrar" />
</form>
