
@model IList<ControleRotasMvc.Models.Usuario>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>E-mail</th>
            <th>Tipo</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
        <tr>
            <td>@usuario.Id</td>
            <td>@Html.RouteLink(usuario.UsuarioLogin, "VisualizaProduto", new { id = usuario.Id })</td>
            <td>@usuario.UsuarioNome</td>
            <td>@usuario.UsuarioSobrenome</td>
            <td>@usuario.UsuarioEmail</td>
            <td id="usuariotipo@(usuario.Id)">@usuario.UsuarioTipo</td>
            <td><a href="#" onclick="decrementa(@usuario.Id)">Dec.</a></td>
        </tr>
        }
    </tbody>
</table>

@*/codigo java script*@
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">

        function decrementa(usuarioId) {
            var url = ("/Usuario/Decrementar");
            var params = {id: usuarioId};
            $.post(url, params, atualiza);
        }

        function atualiza(resposta) {
            var elemento = $("#usuariotipo" + resposta.Id);
            elemento.html(resposta.UsuarioTipo);
    }
</script>






