
@*<div>
    Id: @ViewBag.Usuario.Id<br />
    Login: @ViewBag.Usuario.UsuarioLogin<br />
    Nome: @ViewBag.Usuario.UsuarioNome<br />
    Sobrenome: @ViewBag.Usuario.UsuarioSobrenome<br />
    Email: @ViewBag.Usuario.UsuarioEmail<br />
    Senha: @ViewBag.Usuario.UsuarioSenha<br />
    TIpo: @ViewBag.Usuario.UsuarioTipo<br />
    @Html.RouteLink("Voltar para a lista de usuários", "ListaUsuarios")
</div>*@


@model ControleRotasMvc.Models.Usuario

<form action="/Usuario/Alterar" method="post">
    @*@Html.AntiForgeryToken()*@
    @*<label for="id">ID</label>
        <input form="id" name="usuario.Id" value="@ViewBag.Usuario.Id" class="form-control" />*@

    @Html.HiddenFor(model => model.Id)

    <label for="nome">Nome:</label>
    <input id="nome" name="usuario.UsuarioNome" value="@ViewBag.Usuario.UsuarioNome" class="form-control" />

    <label for="sobrenome">Sobrenome:</label>
    <input id="sobrenome" name="usuario.UsuarioSobrenome" value="@ViewBag.Usuario.UsuarioSobrenome" class="form-control" />

    <label for="login">Login:</label>
    <input id="login" name="usuario.UsuarioLogin" value="@ViewBag.Usuario.UsuarioLogin" class="form-control" />

    <label for="email">E-mail:</label>
    <input id="email" name="usuario.UsuarioEmail" value="@ViewBag.Usuario.UsuarioEmail" class="form-control" />
    @Html.ValidationMessage("usuario.UsuarioLogin")
    @Html.ValidationMessage("usuario.LoginExistente")

    <label for="senha">Senha:</label>
    <input id="senha" name="usuario.UsuarioSenha" value="@ViewBag.Usuario.UsuarioSenha" class="form-control" />

    <label for="tipo">Tipo [0-Contrante  1-ADM  2-Responsável]</label>
    <input id="tipo" name="usuario.UsuarioTipo" value="@ViewBag.Usuario.UsuarioTipo" class="form-control">

   
    <label for="usuarioStatus">Ativo</label>
    @if (@ViewBag.Usuario.Status == 1)
    {
        <input id="status" type="checkbox" name="usuario.Status" value="@ViewBag.Usuario.Status" class="form-check" checked />
    }
    else if (@ViewBag.Usuario.Status == 0)
    {
        <input id="status" type="checkbox" name="usuario.Status" value="@ViewBag.Usuario.Status" class="form-check" /> }

    @*<td>@Html.ActionLink("Alterar", "Alterar", new { id = usuario.Id })</td>*@
    <p></p>
    <input type="submit" value="Salvar" class="btn btn-success btn-sm" />
</form>
