
    <div>
        Id: @ViewBag.Usuario.Id<br />
        Login: @ViewBag.Usuario.UsuarioLogin<br />
        Nome: @ViewBag.Usuario.UsuarioNome<br />
        Sobrenome: @ViewBag.Usuario.UsuarioSobrenome<br />
        Email: @ViewBag.Usuario.UsuarioEmail<br />
        Senha: @ViewBag.Usuario.UsuarioSenha<br />
        TIpo: @ViewBag.Usuario.UsuarioTipo<br />
        @Html.RouteLink("Voltar para a lista de usuários", "ListaUsuarios")
    </div>
