@model IQueryable<ControleRotasMvc.Models.Materia>

@{
    var diasAula = ViewBag.DiasAula as IQueryable<ControleRotasMvc.Models.DiasAula>;
    var empresa = Session["empresaLogada"];
}
<!--removerrrr-->
<head>
    <h3>CADASTRO DE ALUNO</h3>
</head>
<br />
<form id="cad-aluno" action="/Aluno/Adiciona" method="post" class="active">
    @Html.AntiForgeryToken()

    <!--nav tabs-->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">DADOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">NOTAS</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!--ABA DADOS-->
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <!--dados-->
            <br />
            <div class="panel panel-default border">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="nome">Nome:</label>
                            <input id="nome" name="aluno.Nome" value="" class="form-control" oninput="this.value = this.value.toUpperCase()" required/>
                        </div>
                        <div class="col-md-4">
                            <label for="email">E-mail:</label>
                            <input id="email" type="email" name="aluno.Email" value="" placeholder="Ex: email@email.com" class="form-control" oninput="this.value = this.value.toUpperCase()" required/>
                        </div>
                        <div class="col-md-2">
                            <label for="telefone">Telefone:</label>
                            <input id="telefone" type="tel" name="aluno.Telefone" placeholder="Ex: 00 00000-0000" class="form-control" value="" required/>
                        </div>
                    </div>

                    <!-- Responsável -->
                    <div class="row">

                        <div class="col-md-4">
                            <label for="responsavel">Nome Responsável:</label>
                            <input id="responsavel" name="aluno.NomeResponsavel" class="form-control" value="" oninput="this.value = this.value.toUpperCase()" required/>
                        </div>
                        <div class="col-md-4">
                            <label for="emailResponsavel">E-mail Responsável:</label>
                            <input id="emailResponsavel" name="aluno.EmailResponsavel" placeholder="Ex: email@email.com" class="form-control" value="" oninput="this.value = this.value.toUpperCase()" required/>
                        </div>
                        <div class="col-md-2">
                            <label for="cpfResponsavel">CPF Responsável:</label>
                            <input id="cpfResponsavel" name="aluno.cpfResponsavel" class="form-control" value="" required/>
                        </div>
                        <div class="col-md-2">
                            <label for="telefone">Telefone Responsável:</label>
                            <input id="telefoneResponsavel" type="tel" name="aluno.TelefoneResponsavel" placeholder="Ex: 00 00000-0000" class="form-control" value="" required/>
                        </div>
                    </div>

                    <!--ENDEREÇO-->
                    <div class="row">
                        <div class="col-md-4">
                            <label for="logradouro">Logradouro:</label>
                            <input id="logradouro" name="endereco.logradouro" class="form-control" value="" oninput="this.value = this.value.toUpperCase()" required/>
                        </div>
                        <div class="col-md-1">
                            <label for="numero">nº:</label>
                            <input id="numero" name="endereco.numero" type="text" class="form-control" value="" oninput="this.value = this.value.toUpperCase()" required/>
                        </div>
                        <div class="col-md-2">
                            <label for="bairro">Bairro:</label>
                            <input id="bairro" name="endereco.bairro" class="form-control" value="" oninput="this.value = this.value.toUpperCase()" required/>
                        </div>
                        <div class="col-md-2">
                            <label for="cidade">Cidade:</label>
                            <input id="cidade" type="tel" name="endereco.cidade" class="form-control" value="" oninput="this.value = this.value.toUpperCase()" required/>
                        </div>
                        <div class="col-md-2">
                            <label for="estado">Estado:</label>                           
                            <select name="endereco.estado" class="form-control" required>
                                <option value="">Selecione</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AM">Amazonas</option>
                                <option value="AP">Amapá</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RO">Rondônia</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SE">Sergipe</option>
                                <option value="SP">São Paulo</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="cep">CEP:</label>
                            <input id="cep" type="tel" name="endereco.cep" class="form-control" value="" required/>
                        </div>
                    </div>
                </div>
            </div>
            </br>
            <!--MATÉRIAS-->   <!--AULAS-->
            <div class="panel panel-default border">
                <div class="panel-body">
                    <label>Matérias:</label>
                    <div class="row">
                        @foreach (var item in Model)
                        {

                            <div class="col-md-auto">
                                <input id="materias" type="checkbox" name="materias" value="@item.Id" required/>
                                <label class="choice" for="element_1_1">@item.Nome</label>
                            </div>
                        }
                    </div>

                    <label>Aulas:</label>
                    <div class="row">
                        @foreach (var item in diasAula)
                        {
                            <div class="col-md-auto">
                                <input id="diasAula" type="checkbox" name="diasAula" value="@item.Descricao" required/>
                                <label class="choice" for="aluno.AulaSegunda">@item.Descricao &nbsp;</label>
                            </div>
                        }
                    </div>

                    <label>Horário:</label>
                    <div class="row">
                        <div class="col-md-auto">
                            <input id="horario" name="aluno.Horario" placeholder="Ex: 00:00" class="form-control" value="" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

     
                

        <!--Notas-->
        <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="container">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Matéria&nbsp;</td>
                                        <td>1º Bimestre&nbsp;</td>
                                        <td>2º Bimestre&nbsp;</td>
                                        <td>3º Bimestre&nbsp;</td>
                                        <td>4º Bimestre&nbsp;</td>
                                    </tr>

                                    @{
                                        var i = 0;
                                        var numeroBimestre = 1;
                                        var i1 = 1;
                                        var i2 = 2;
                                        var i3 = 3;

                                        var d = 0;

                                        foreach (var item in Model)
                                        {
                                            if (numeroBimestre == 4)
                                            {
                                                numeroBimestre = 1;
                                            }
                                            <tr>
                                                <td>@item.Nome</td>
                                                <td><input id="valorNota" name="nota[@i].ValorNota" class="form-control col-sm-7" /></td>
                                                <input type="hidden" id="materiaId" name="nota[@i].MateriaId" value="@item.Id" />
                                                <input type="hidden" id="bimestre" name="nota[@i].Bimestre" value="1" />

                                                <td><input id="valorNota" name="nota[@i1].ValorNota" class="form-control col-sm-7"/></td>
                                                <input type="hidden" id="materiaId" name="nota[@i1].MateriaId" value="@item.Id" />
                                                <input type="hidden" id="bimestre" name="nota[@i1].Bimestre" value="2" />


                                                <td><input id="valorNota" name="nota[@i2].ValorNota" class="form-control col-sm-7"/></td>
                                                <input type="hidden" id="materiaId" name="nota[@i2].MateriaId" value="@item.Id" />
                                                <input type="hidden" id="bimestre" name="nota[@i2].Bimestre" value="3" />

                                                <td><input id="valorNota" name="nota[@i3].ValorNota" class="form-control col-sm-7"/></td>
                                                <input type="hidden" id="materiaId" name="nota[@i3].MateriaId" value="@item.Id" />
                                                <input type="hidden" id="bimestre" name="nota[@i3].Bimestre" value="4" />

                                            </tr>
                                            i = i + 4;
                                            i1 = i1 + 4;
                                            i2 = i2 + 4;
                                            i3 = i3 + 4;
                                            d++;

                                        }

                                    }
                                </tbody>
                            </table>

                            <br />
                        </div>
                    </div>
                </div>
            </div>  

    </div>
    <br />
    <br />
    <input type="hidden" id="aluno.EmpresaId" name="aluno.EmpresaId" value="@Session["empresaLogada"]" />
    <input class="btn btn-primary" id="btnSave" align-baseline="right" type="submit" value="Cadastrar" />
    <br />
</form>

<script type="text/javascript">

    $(document).ready(function () {
        $('#horario').mask('00:00'),
            $('#diaVencimento').mask('99/99/9999', { placeholder: "mm/dd/aaaa" }),
            $('#telefone').mask('(99) 99999-9999', { placeholder: "(99) 99999-9999" }),
            $('#telefoneResponsavel').mask('(99) 99999-9999', { placeholder: "(99) 99999-9999" }),
            $('#mensalidadeValor').maskMoney({ symbol: 'R$ ', thousands: '.', decimal: ',', symbolStay: true })
    });

//    $('#DiasAula').click(function() {
//    DiasAula = document.getElementById("DiasAula"); //searches for and detects the input element from the 'myButton' id
//    DiasAula.value = "I'm a changed button" //changes the value
//})

            $('input[type=checkbox]').each(function () {  
            if (this.checked) {  
                abc = abc + $(this).val() + ","  
                //assign set value to hidden field   
                 $('#diasAula').val(abc);  
            }  
        });

</script>

