@model IQueryable<ControleRotasMvc.Models.Materia>

@{
    var diasAula = ViewBag.DiasAula as IQueryable<ControleRotasMvc.Models.DiasAula>;
}
<!--removerrrr-->
<head>
    <h3>CADASTRO DE ALUNO</h3>
</head>
<br />
<form id="cad-aluno" action="/Aluno/Adiciona" method="post" class="active">
    @Html.AntiForgeryToken()

    <!--nav tabs-->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">DADOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">NOTAS</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!--ABA DADOS-->
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <!--dados-->
            <br />
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">


                        <div class="col-md-4">
                            <label for="nome">Nome:</label>
                            <input id="nome" name="aluno.Nome" value="" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <label for="email">E-mail:</label>
                            <input id="email" type="email" name="aluno.Email" value="" placeholder="Ex: email@email.com" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <label for="telefone">Telefone:</label>
                            <input id="telefone" type="tel" name="aluno.Telefone" placeholder="Ex: 00 00000-0000" class="form-control" value="" />
                        </div>
                    </div>

                    <!-- Responsável -->
                    <div class="row">

                        <div class="col-md-4">
                            <label for="responsavel">Nome Responsável:</label>
                            <input id="responsavel" name="aluno.NomeResponsavel" class="form-control" value="" />
                        </div>
                        <div class="col-md-4">
                            <label for="emailResponsavel">E-mail Responsável:</label>
                            <input id="emailResponsavel" name="aluno.EmailResponsavel" placeholder="Ex: email@email.com" class="form-control" value="" />
                        </div>
                        <div class="col-md-2">
                            <label for="cpfResponsavel">CPF Responsável:</label>
                            <input id="cpfResponsavel" name="aluno.cpfResponsavel" class="form-control" value="" />
                        </div>
                        <div class="col-md-2">
                            <label for="telefone">Telefone Responsável:</label>
                            <input id="telefoneResponsavel" type="tel" name="aluno.Telefone" placeholder="Ex: 00 00000-0000" class="form-control" value="" />
                        </div>
                    </div>
                    @*
                        public string Cep { get; set; } // "postalCode": "01046010",
                        public string Logradouro { get; set; } // "street": "Av. Ipiranga",
                        public string Numero { get; set; } // "number": "100",
                        public string Bairro { get; set; } //  "district": "Republica",
                        public string Cidade { get; set; } // "city": "Sao Paulo",
                        public string Estado { get; set; } // "state": "SP"
                    *@
                    <!-- ENDEREÇO-->
                    <div class="row">
                        <div class="col-md-4">
                            <label for="logradouro">Logradouro:</label>
                            <input id="logradouro" name="endereco.logradouro" class="form-control" value="" />
                        </div>
                        <div class="col-md-1">
                            <label for="numero">nº:</label>
                            <input id="numero" name="endereco.numero" type="number" class="form-control" value="" />
                        </div>
                        <div class="col-md-2">
                            <label for="bairro">Bairro:</label>
                            <input id="bairro" name="endereco.bairro" class="form-control" value="" />
                        </div>
                        <div class="col-md-2">
                            <label for="cidade">Cidade:</label>
                            <input id="cidade" type="tel" name="endereco.cidade" class="form-control" value="" />
                        </div>
                        <div class="col-md-2">
                            <label for="estado">Estado:</label>
                            <input id="estado" type="tel" name="endereco.estado" class="form-control" value="" />
                        </div>
                        <div class="col-md-2">
                            <label for="cep">CEP:</label>
                            <input id="cep" type="tel" name="endereco.cep" class="form-control" value="" />
                        </div>
                    </div>
                </div>
            </div>

            <label>Matérias:</label>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="container">

                        @foreach (var item in Model)
                        {

                            <div class="col-md-2">
                                <input id="materias" type="checkbox" name="materias" class="form-check-input" value="@item.Id" />
                                <label class="choice" for="element_1_1">@item.Nome</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <label>Aulas:</label>
            <div class="panel panel-default">
                <div class="panel-body">
                    @*<div class="row">
                        <div class="col-md-1">
                            <input id="DiasAula" type="checkbox" name="diasAula[0]" class="form-check-input" value="1" />
                            <label class="choice" for="aluno.AulaSegunda">SEG &nbsp;</label>
                        </div>
                        <div class="col-md-1">
                            <input id="aulaTerca" type="checkbox" name="diasAula[1]" class="form-check-input" value="2" />
                            <label class="choice" for="aluno.AulaTerca">TER &nbsp;</label>
                        </div>
                        <div class="col-md-1">
                            <input id="DiasAula" type="checkbox" name="diasAula[2]" class="form-check-input" value="3" />
                            <label class="choice" for="aluno.AulaQuarta"> QUA &nbsp;</label>
                        </div>
                        <div class="col-md-1">
                            <input id="AulaQuinta" type="checkbox" name="diasAula[3]" class="form-check-input" value="4" />
                            <label class="choice" for="aluno.AulaQuinta"> QUI &nbsp;</label>
                        </div>
                        <div class="col-md-1">
                            <input id="AulaSexta" type="checkbox" name="diasAula[4]" class="form-check-input" value="5" />
                            <label class="choice" for="aluno.AulaSexta"> SEX &nbsp;</label>
                        </div>
                        <div class="col-md-1">
                            <input id="AulaSabado" type="checkbox" name="diasAula[5]" class="form-check-input" value="6" />
                            <label class="choice" for="aluno.AulaSabado"> SAB &nbsp;</label>
                        </div>
                        <div class="col-md-1">
                            <input id="AulaDomingo" type="checkbox" name="diasAula[6]" class="form-check-input" value="7" />
                            <label class="choice" for="aluno.AulaDomingo"> DOM</label>
                        </div>
                    </div>*@
                    <br />
                    <div class="row">
                        <div class="col-md-1">
                            <label for="horario">Horário:</label>
                        </div>
                        <div class="col-md-2">
                            <input id="horario" name="aluno.Horario" placeholder="Ex: 00:00" class="form-control" value="" />
                        </div>
                    </div>

                    @foreach (var item in diasAula)
                        {
                            int a = 0;
                        <div class="row">
                            <div class="col-md-1">
                                <input id="diasAula" type="checkbox" name="diasAula" class="form-check-input" value="@item.Descricao" />
                                <label class="choice" for="aluno.AulaSegunda">@item.Descricao &nbsp;</label>
                            </div>
                        </div>        
                    }
                        </div>
                    </div>
        </div>

        <!--financeiro-->
        @*<br />
            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <label>Adicionar Mensalidades:</label>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="mensalidadeValor">Valor Mensalidade:</label>
                                <input id="mensalidadeValor" name="mensalidade.Valor" class="form-control" value="" />
                            </div>
                            <div class="col-md-1">
                                <label for="mensalidadeQtd">Meses</label>
                                <input id="mensalidadeQtd" name="qtdMaterias" class="form-control" value="" />
                            </div>
                            <div class="col-md-2">
                                <label for="diaVencimento">1º Venc.</label>
                                <input id="diaVencimento" name="mensalidade.Vencimento" class="form-control" value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

        <!--Notas-->
        <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="container">

                        @*@Html.Partial("_Cadastro")*@
                        @*boletim*@
                        <table>
                            <tbody>
                                <tr>
                                    <td>Matéria&nbsp;</td>
                                    <td>1º Bimestre&nbsp;</td>
                                    <td>2º Bimestre&nbsp;</td>
                                    <td>3º Bimestre&nbsp;</td>
                                    <td>4º Bimestre&nbsp;</td>


                                </tr>

                                @{
                                    var i = 0;
                                    var numeroBimestre = 1;
                                    var i1 = 1;
                                    var i2 = 2;
                                    var i3 = 3;

                                    var d = 0;

                                    foreach (var item in Model)
                                    {
                                        if (numeroBimestre == 4)
                                        {
                                            numeroBimestre = 1;
                                        }
                                        <tr>
                                            <td>@item.Nome</td>
                                            <td><input id="valorNota" name="nota[@i].ValorNota" /></td>
                                            <input type="hidden" id="materiaId" name="nota[@i].MateriaId" value="@item.Id" />
                                            <input type="hidden" id="bimestre" name="nota[@i].Bimestre" value="1" />

                                            <td><input id="valorNota" name="nota[@i1].ValorNota" /></td>
                                            <input type="hidden" id="materiaId" name="nota[@i1].MateriaId" value="@item.Id" />
                                            <input type="hidden" id="bimestre" name="nota[@i1].Bimestre" value="2" />


                                            <td><input id="valorNota" name="nota[@i2].ValorNota" /></td>
                                            <input type="hidden" id="materiaId" name="nota[@i2].MateriaId" value="@item.Id" />
                                            <input type="hidden" id="bimestre" name="nota[@i2].Bimestre" value="3" />

                                            <td><input id="valorNota" name="nota[@i3].ValorNota" /></td>
                                            <input type="hidden" id="materiaId" name="nota[@i3].MateriaId" value="@item.Id" />
                                            <input type="hidden" id="bimestre" name="nota[@i3].Bimestre" value="4" />

                                        </tr>
                                        i = i + 4;
                                        i1 = i1 + 4;
                                        i2 = i2 + 4;
                                        i3 = i3 + 4;
                                        d++;

                                    }

                                }
                            </tbody>
                        </table>

                        <br />
                    </div>
                </div>
            </div>
        </div>
        <!--nova aba-->
        <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">

        </div>

    </div>
    <br />
    <br />
    <input class="btn btn-primary" id="btnSave" align-baseline="right" type="submit" value="Cadastrar" />
    <br />
</form>

<script type="text/javascript">

    $(document).ready(function () {
        $('#horario').mask('00:00'),
            $('#diaVencimento').mask('99/99/9999', { placeholder: "mm/dd/aaaa" }),
            $('#telefone').mask('(99) 99999-9999', { placeholder: "(99) 99999-9999" }),
            $('#telefoneResponsavel').mask('(99) 99999-9999', { placeholder: "(99) 99999-9999" }),
            $('#mensalidadeValor').maskMoney({ symbol: 'R$ ', thousands: '.', decimal: ',', symbolStay: true })
    });

//    $('#DiasAula').click(function() {
//    DiasAula = document.getElementById("DiasAula"); //searches for and detects the input element from the 'myButton' id
//    DiasAula.value = "I'm a changed button" //changes the value
//})

            $('input[type=checkbox]').each(function () {  
            if (this.checked) {  
                abc = abc + $(this).val() + ","  
                //assign set value to hidden field   
                 $('#diasAula').val(abc);  
            }  
        });

</script>

