
@model IQueryable<ControleRotasMvc.Models.Aluno>
   

<head>
    <h3>CADASTRO DE ALUNOS</h3>
</head>
    <div align="right">
        <br />

        @using (Ajax.BeginForm("BuscarAluno", "Aluno", new AjaxOptions
        {
            HttpMethod = "Get",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "listaAlunos"
        }))
        {
            @Html.TextBox("Pesquisa")                      
            <input type="submit" value="Pesquisar" class="btn btn-default btn-sm" />           
            <a href="/Aluno/Cadastro">
                <input type="button" class="btn btn-success btn-sm" value="Novo Aluno" />
            </a>
        }
        <br />

        <br />
    </div>

    <div id="listaAlunos">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Responsável</th>
                    <th>E-mail Responsável</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var aluno in Model)
                {
                    <tr>
                        <td>@aluno.Id</td>
                        <td>@Html.RouteLink(aluno.Nome, "VisualizaAluno", new { id = aluno.Id })</td>
                        <td>@aluno.Email</td>
                        <td>@aluno.Telefone</td>
                        <td>@aluno.NomeResponsavel</td>
                        <td>@aluno.EmailResponsavel</td>
                    </tr>
                }
            </tbody>
        </table>
</div>

        @*/codigo java script*@







