@{
    

    var materias = ViewBag.Materias as IEnumerable<ControleRotasMvc.Models.Materia>;
    List<int> MateriasDoAluno = ViewBag.MateriasDoAluno as List<int>;
    var notas = ViewBag.Notas as IList<ControleRotasMvc.Models.Nota>;
    List<int> Notas = ViewBag.notas as List<int>;
    var grupoNota = notas.GroupBy(a => a.MateriaId).ToDictionary(a => a.Key, b => b.ToList());
    var diasAula = ViewBag.DiasAula as string;


}
<head>
    <div align="left">
        <h3>CADASTRO DE ALUNO</h3>
    </div>
</head>
<br />
<form id="cad-aluno" action="/Aluno/Visualiza" method="post" class="active">
    @Html.AntiForgeryToken()

    <!--nav tabs-->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">DADOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">PAGAMENTOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">NOTAS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">PRESENÇA</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!--ABA DADOS-->
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <br />
            <!--dados-->
            <label>Dados Pessoais:</label>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="nome">Nome:</label>
                            <input id="nome" name="aluno.Nome" value="@ViewBag.Aluno.Nome" class="form-control" />
                        </div>

                        <div class="col-md-4">
                            <label for="email">E-mail:</label>
                            <input id="email" type="email" name="aluno.Email" value="@ViewBag.Aluno.Email" placeholder="Ex: email@email.com" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <label for="telefone">Telefone:</label>
                            <input id="telefone" type="tel" name="aluno.Telefone" value="@ViewBag.Aluno.Telefone" placeholder="Ex: 00 00000-0000" class="form-control" />
                        </div>
                    </div>


                    <div class="row">
                        <!-- Responsável -->
                        <div class="col-md-4">

                            <label for="responsavel">Nome Responsável:</label>
                            <input id="responsavel" name="aluno.NomeResponsavel" class="form-control" value="@ViewBag.Aluno.NomeResponsavel" />
                        </div>

                        <div class="col-md-4">
                            <label for="emailResponsavel">E-mail Responsável:</label>
                            <input id="emailResponsavel" name="aluno.EmailResponsavel" placeholder="Ex: email@email.com" class="form-control" value="@ViewBag.Aluno.EmailResponsavel" />
                        </div>
                        <div class="col-md-2">
                            <label for="cpfResponsavel">CPF Responsável:</label>
                            <input id="cpfResponsavel" name="aluno.cpfResponsavel" class="form-control" value="@ViewBag.Aluno.CpfResponsavel" />
                        </div>
                        <div class="col-md-2">
                            <label for="telefone">Telefone Responsável:</label>
                            <input id="telefone" type="tel" name="aluno.Telefone" placeholder="Ex: 00 00000-0000" class="form-control" value="@ViewBag.Aluno.TelefoneResponsavel" />
                        </div>
                    </div>
                </div>

            </div>

            <label>Matérias:</label>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="container">

                        @foreach (var item in materias)
                        {
                            var check = MateriasDoAluno.Contains(item.Id) ? "checked" : "";

                            <div class="col-md-2">
                                <input id="materias" type="checkbox" @check name="materias" class="form-check-input" value="@item.Id" />
                                <label class="choice" for="element_1_1">@item.Nome</label>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <label>Aulas:</label>
            <div class="panel panel-default">
                <div class="panel-body">
                    <label>Aulas:</label>
                    <div class="row">
                        @foreach (var item in diasAula)
                        {
                            var check = ViewBag.Aluno.DiasAula.Contains("Seg") ? "checked" : "";

                            <div class="col-md-auto">
                                <input id="diasAula" type="checkbox" name="diasAula" value="@item.Descricao" required />
                                <label class="choice" for="aluno.AulaSegunda">@item.Descricao &nbsp;</label>
                            </div>
                        }
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-1">
                            <label for="horario">Horário:</label>
                        </div>
                        <div class="col-md-2">
                            <input id="horario" name="aluno.Horario" placeholder="Ex: 00:00" class="form-control" value="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--nova aba-->
        <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="container">

                        <table>
                            <tbody>

                                <tr>
                                    <td>Matéria&nbsp;</td>
                                    <td>1º Bimestre&nbsp;</td>
                                    <td>2º Bimestre&nbsp;</td>
                                    <td>3º Bimestre&nbsp;</td>
                                    <td>4º Bimestre&nbsp;</td>
                                </tr>

                                @{
                                    foreach (var item in grupoNota)
                                    {
                                        //var notas_ = item.Value.GroupBy(n => n.Bimestre).ToDictionary(n => n.Key, n => n.FirstOrDefault());
                                        <tr>
                                            <td>
                                                <input id="materia" name="materia" value="@item.Key" />

                                            </td>
                                            <td>
                                                <input id="nota" name="nota" value="@item.Value.Where(n => n.Bimestre == 1).Select(n => n.ValorNota).FirstOrDefault()" />
                                            </td>
                                            <td>
                                                <input id="nota" name="nota" value="@item.Value.Where(n => n.Bimestre == 2).Select(n => n.ValorNota).FirstOrDefault()" />
                                            </td>
                                            <td>
                                                <input id="nota" name="nota" value="@item.Value.Where(n => n.Bimestre == 3).Select(n => n.ValorNota).FirstOrDefault()" />
                                            </td>
                                            <td>
                                                <input id="nota" name="nota" value="@item.Value.Where(n => n.Bimestre == 4).Select(n => n.ValorNota).FirstOrDefault()" />
                                            </td>
                                            @*<td>
                                                    <input id="nota" name="nota" value="@notas_[1].ValorNota" />
                                                </td>*@
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>



                        <br />
                    </div>
                </div>
            </div>
        </div>
        <!--nova aba-->
        <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">

        </div>

    </div>

    <br />
    <br />
    <input class="btn btn-primary" align-baseline="right" type="submit" value="Cadastrar" />





    <br />
</form>


<script type="text/javascript">
    var i = 0;
    function adiciona(materiaId) {
        var url = ("/Materia/Adiciona");
        var params = { id: materiaId };
        $.post(url, params);
    }


</script>
