
<div>
    Id: @ViewBag.Aluno.Id<br />
    Nome: @ViewBag.Aluno.Nome<br />
    Sobrenome: @ViewBag.Aluno.Sobrenome<br />
    Email: @ViewBag.Aluno.Email<br />
    @Html.RouteLink("Voltar para a lista de alunos", "ListaAlunos")
</div>
