@model IList<ControleRotasMvc.Models.FinanceiroViewModel>

@{
    var alunos = ViewBag.Aluno;

}

<html>
<head>
    <div align="left">
        <h3>OPERACIONAL</h3>
    </div>
    <script src=~/Scripts/jquery.maskMoney.js type="text/javascript"></script>

</head>

<div align="right">
    @using (Ajax.BeginForm("Buscar", "Financeiro", new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "listaFinanceiro"
    }))
    {
    <select name="Pesquisa">
        <option hidden selected value=""> -- Selecione -- </option>
        @foreach (var item in alunos)
        {
            <option value="@item.Id">
                @item.Nome
            </option>
        }
    </select>
        <input type="submit" value="Pesquisar" class="btn btn-default btn-sm" />
        <input type="button" class="btn btn-success btn-sm" value="Novo Documento" data-toggle="modal" data-target="#NovoFinanceiro"/>

    }
</div>
<br />

<br />
<body>
    <div id="NovoFinanceiro" class="modal fade modal-lg" tabindex="-1" role="form" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Novo Documento</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">

                        <form id="cad-financeiro" action="/Financeiro/Adiciona" method="post" class="active">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="Aluno">Aluno:</label>

                                    <select class="form-control" name="docfin.AlunoId">
                                        <option hidden selected value=""> -- Selecione -- </option>
                                        @{
                                            foreach (var items in alunos)
                                            {
                                                <option value="@items.Id">
                                                    @items.Nome
                                                </option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="Valor">Valor:</label>
                                    <input id="currency" name="docfin.Valor" value="" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <label for="vencimento">Vencimento:</label>
                                    <input id="Vencimento" type="date" name="docfin.Vencimento" class="form-control" value="" />
                                </div>
                                <div class="col-md-4">
                                    <label for="recebimento">Forma Recebimento:</label>
                                    <select class="form-control" id="recebimento" name="docfin.FormaRecebimento">
                                        <option value="1">Boleto</option>
                                        <option value="2">Dinheiro</option>
                                    </select>
                                </div>
                            </div>
                            </br>
                            <div class="row row-no-gutters">
                                <div class="col-md-2">
                                    <input id="provisao" type="checkbox" onclick="provisionar()" /> Provisionar
                                </div>
                                <div class="col-md-2 input-group">
                                    <label id="labelprovisionar" for="qtdProvisionar" style="display:none">Qtd: </label>&nbsp;
                                    <select name="qtdProvisionar" id="qtdProvisionar" class="form-control" style="display:none">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                    </select>                                  
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <input class="btn btn-primary" form="cad-financeiro" id="btnSave" align-baseline="right" type="submit" value="Cadastrar" />

                </div>
            </div>
        </div>
    </div>



    <div id="listaFinanceiro">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Pessoa</th>
                    <th>Valor</th>
                    <th>Vencimento</th>
                    <th>Situação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var documento in Model)
                {
                <tr>
                    <td>@documento.Id</td>
                    <td>@documento.Nome</td>                
                    
                    <td>R$@documento.Valor.ToString("n2")</td>
                    @*<td>@Html.TextBoxFor(model => documento.Vencimento, "{0:dd/MM/yyyy}", new { @class = "meuCampoDate" })</td>*@
                    <td>@documento.Vencimento.ToShortDateString()</td>

                    @if (documento.Situacao == 0)
                    {
                        <td>Aberto</td>

                    }
                    else if (documento.Situacao == 1)
                    {
                        <td>Liquidado</td>
                    }

                    <td>
                        @if (documento.Situacao == 0)
                        {
                            @Html.ActionLink("Liquidar", "Liquidar", new { id = documento.Id }, new { @class = "btn btn-primary btn-sm" })
                        }
                        @Html.ActionLink("Alterar", "Alterar", new { id = documento.Id }, new { @class = "btn btn-info btn-sm" })
                        @Html.ActionLink("Excluir", "Deletar", new { id = documento.Id }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                    <td></td>
                    @*<td>@Html.ActionLink("Excluir", "Deletar", new { id = documento.Id })</td>*@

                </tr>

                }
            </tbody>
        </table>
    </div>
</body>
</html>

<script>

    $(function () {
        $('#currency').maskMoney({ prefix: 'R$ ', allowNegative: true, thousands: '.', decimal: ',', affixesStay: false });
    })

    function provisionar() {
        // Get the checkbox
        var checkBox = document.getElementById("provisao");
        // Get the output text
        var text = document.getElementById("qtdProvisionar");
        var text2 = document.getElementById("labelprovisionar");

        // If the checkbox is checked, display the output text
        if (checkBox.checked == true) {
            text.style.display = "block";
            text2.style.display = "block";
        } else {
            text.style.display = "none";
            text2.style.display = "none";
        }
    }    

    function deletar(documentoId) {
        var url = ("/Financeiro/Deletar");
        var params = { id: documentoId };
        $.post(url, params);
    }
</script>